* {
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    padding: 90px 20px 0px;
    background-image: linear-gradient(to right, #5533FF, #2BC4F6);
    background-position: fixed;
}

.header {
    background-image: linear-gradient(to right, #5533FF, #2BC4F6);
    height: 80px;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
}

.nav {
    display: flex;
    justify-content: space-between;
    max-width: 992px;
    margin: 0 auto;
    margin-left: 280px;
}

.nav-link {
    color: white;
    text-decoration: none;
}

.Logo {
    font-size: 40px;
    padding: 20px 15px;
    line-height: 50px;
}

.nav-menu {
    display: flex;
    margin-right: 10px;
    list-style: none;
}

.nav-menu-item {
    font-size: 18px;
    margin: 0 10px;
    line-height: 50px;
    width: max-content;
}

.nav-menu-link {
    padding: 8px 10px;
    border-radius: 3px;
}

.nav-menu-link:hover {
    background-color: #482ccf;
    transition: 0.5s;
}

.principal {
    display: flex;
    width: 100% auto;
    padding: 40px 10px 20px 25px;
    margin: 0 auto;
    justify-content: space-around;
}

.titulo {
    width: fit-content auto;
    height: 100px auto;
    margin: 50px auto;
    padding-right: 10px;
    color: white;
    text-align: justify;
}

.figura {
    width: fit-content auto;
    height: 50% auto;
    padding-right: 130px;
}